# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Environment variables / secrets
.env

# Streamlit stuff (optional)
.streamlit/

# OS / editor
.DS_Store
Thumbs.db
.vscode/